<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733181429594-m9sgsa1ghgh7cnhmc2atslteohkpon8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733181429594-m9sgsa1ghgh7cnhmc2atslteohkpon8g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>733181429594-jqrptgu1atj08ae9t3m7qr5io9sm0efs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTJBPwN7qDWSfCtFO4QkzgHSr3lam9pio</string>
	<key>GCM_SENDER_ID</key>
	<string>733181429594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.extremetech.appmovil</string>
	<key>PROJECT_ID</key>
	<string>extremetechapp</string>
	<key>STORAGE_BUCKET</key>
	<string>extremetechapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733181429594:ios:df16cf7c2203784f881563</string>
</dict>
</plist>